.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.modal-container {
  background-color: var(--background-dark);
  border: solid 2px aquamarine;
  top: 30vh;
  margin: auto;
  margin-top: 30vh;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 80%;
}