.recipe-list {
  margin: 0 auto;
  width: clamp(320px, 90% , 440px);
  
  button {
    margin-top: 1rem;
  }
}

.recipe-list-item {
  display: flex;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  
  background-color: var(--primary-text);
  color: var(--secondary-text);
  transition: background-color 0.25s;
  
  &:hover {
    background-color: var(--hover-color);
  }
}

.recipe-name {
  text-align: left;
  flex: 1 1 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.recipe-info {
  text-align: left;
  // font-style: italic;

  p {
    font-weight: normal;
    font-size: 0.95rem;
    margin: 0
  }
}




