.recipe-info {

  margin-bottom: 2rem;
  text-align: left;
  
  p {
    padding-bottom: 0.3rem;
    line-height: 1rem;
    margin: 0;
  }

}

.ingredient-list {
  background-color: rgb(71, 71, 71);
  margin: 2rem 0;
  padding: 1rem;
  text-align: left;

  h3 {
    margin: 0
  }

  ul {
    margin: 0
  }

}

.steps-container {
  text-align: left;
}